.right-panel-main{
    height: 100vh;
    width: 30%;
    background-color: #054fff;
    color: #f4f4f4;
    h3{
        font-size: 30px;
        text-align: center;
        padding-top: 60%;
    }
    .lorem-ipsum-right-panel{
        font-size: 20px;
        text-align: center;
        padding-left:50px;
        margin-right: 50px;
        font-weight: normal;
        line-height: 1.5;
    }
}